name: build

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: 0 0 * * *

jobs:
  build:
    runs-on: ubuntu-latest
    name: GHC ${{ matrix.ghc }}
    strategy:
      fail-fast: true
      matrix:
        ghc:
          - '9.8'

          - '9.10.1'
          - '9.10'

          - '9.12.1'
          - '9.12'
    steps:
      - name: Free disk space
        run: |

          # `rm -rf` is slow
          sudo find /opt/hostedtoolcache -type f -delete
          sudo find /usr/local/lib/android -type f -delete

          sudo rm -rf /usr/share/dotnet
          sudo rm -rf /usr/lib/jvm
          sudo rm -rf /usr/local/share/powershell

      - uses: actions/checkout@v4

      - name: Determine ghcup basedir
        run: |
          GHCUP_BASEDIR=$(ghcup whereis basedir)
          sudo chown $USER:$USER -hR "$GHCUP_BASEDIR"
          echo "basedir=$GHCUP_BASEDIR" >> $GITHUB_OUTPUT
        id: ghcup

      - uses: actions/cache/restore@v4
        with:
          path: ${{ steps.ghcup.outputs.basedir }}
          key: ghcup-v2
          restore-keys: ghcup-
        id: cache

      - name: Install GHC versions
        run: |
          ghcup install ghc 9.4.8
          ghcup install ghc 9.8.1
          ghcup install ghc 9.8.4
          ghcup install ghc 9.10.1
          ghcup install ghc 9.10.2
          ghcup install ghc 9.10.3
          ghcup install ghc 9.12.1
          ghcup install ghc 9.12.2

        if: steps.cache.outputs.cache-hit != 'true'

      - uses: actions/cache/save@v4
        with:
          path: ${{ steps.ghcup.outputs.basedir }}
          key: ${{ steps.cache.outputs.cache-primary-key }}
        if: steps.cache.outputs.cache-hit != 'true'

      - run: 'echo "  ghc-options: -fwrite-ide-info" >> `cabal path --config-file -v0`'

      - run: ghcup install --set ${{ matrix.ghc }}
      - uses: sol/run-haskell-tests@v2
        with:
          caching: true

  success:
    needs: build
    runs-on: ubuntu-latest
    if: always() # this is required as GitHub considers "skipped" jobs as "passed" when checking branch protection rules

    steps:
      - run: false
        if: needs.build.result != 'success'

      - uses: actions/checkout@v4
      - name: Check for trailing whitespace
        run: '! git grep -I "\s\+$"'

      - run: curl -sSL https://raw.githubusercontent.com/sol/hpack/main/get-hpack.sh | bash
      - run: hpack && git diff --exit-code
